html,body{
  width: 100%;
  height: 100%;
}
ol,ul{
  list-style:none;
}
a,a:hover,a:visited,
a:active,a:link{
  text-decoration: none;
}
.mt_20{
  margin-top:20px;
}
.current{
  background-color: #1D1F21;
}
.lt_body{
  background-color: #222D32;
}
.login_title{
  height: 40px;
  line-height:40px;
  background-color: #337ab7;
  color:#fff;
  font-size:20px;
  text-align:center;
}
.login_body{
  background-color: #fff;
  padding:30px;
}
.mt_150{
  margin-top:150px;
}
/* 首页 */
.lt_left{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  top:0;
  left:0;
  padding-top:50px;
  z-index:999;
  transition:all 1s;

}
.lt_left.lf_0{
  left:-180px;
  transition:all 1s;
}
.left_title{
  width: 100%;
  height: 50px;
  position: absolute;
  top:0;
  left:0;
  background-color: #367FA9;
  text-align:center;
  line-height:50px;
  font-size:20px;
  color:#fff;
}
.left_user{
  margin-top:20px;
}
.left_user img{
  display:block;
 width: 80px;
 height: 80px;
 border-radius:50%;
 margin:0 auto;
}
.left_user p{
  color:#fff;
  text-align:center;
  line-height:50px;
  font-size: 18px;
}
.left_nav ul{
  padding-left:0;
}
.left_nav li{
  width: 100%;
}
.left_nav a{
  display:block;
  width: 100%;
  height: 40px;
  color:#fff;
  line-height:40px;
  padding-left:40px;
  }
  .left_nav a i{
    margin-right:5px;
  }
  .left_nav .left_down{
    margin-left:20px;
  }
  /* 右侧 */
  .right{
    padding-left:180px;
    height: 2000px;
    position: relative;
    transition:all 1s;
  }
  .right.pd_0{
    padding-left:0;
  }
  .right_title.pd_0{
    padding-left:0;
  }
  .right_title{
    width: 100%;
    height: 50px;
    padding-left:180px;
    position: fixed;
    top:0;
    left:0;
    transition:all 1s;
    background-color: #3C8DBC;
  }
  .right_title a{
    display:block;
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align:center;
    color:#fff;
    font-size: 25px;
  }
  .right_main{
    padding-top:50px;
    width: 100%;
    height: 100%;
  }
  .breadcrumb{
    margin-top:20px;
  }
  .right_echarts{
    width: 100%;
    height: 100%;
    margin-top:20px;
  }
  #echarts_lf,
  #echarts_rg{
    width: 48%;
    height: 400px;
  }
/* 用户页面 */
.right_main .table>tbody>tr>td, 
.right_main .table>tbody>tr>th, 
.right_main .table>tfoot>tr>td, 
.right_main .table>tfoot>tr>th, 
.right_main .table>thead>tr>td, 
.right_main .table>thead>tr>th{
  text-align:center;
  vertical-align: middle;
}
.user_form .form-group{
  margin:15px;
}
.choose_cate{
  position: relative;
}
.chose-name{
  width: 140px;
  border:1px solid #ccc;
  padding-left:15px;
  display:none;
  position: absolute;
  top:46px;
  left:0;
  background-color: #fff;
}
.chose-name li{
  width: 100%;
  line-height:20px;
}
  